<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Bruno Web</a>
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" href="/inicio/login">Logar</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/inicio/registrar">Registrar</a>
        </li>
    </ul>
</nav>
